<a href="https://colab.research.google.com/github/JASHANBHULLAR4759/COLLEGE-ASSIGNMENT-2/blob/main/Sales_Rep_Performance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load and clean data
sales_df = pd.read_csv('sales_data.csv')
sales_df['Unit_Price'] = sales_df['Unit_Price'].replace('[\$,]', '', regex=True).astype(float)
sales_df['Total_Sale'] = sales_df['Total_Sale'].replace('[\$,]', '', regex=True).astype(float)

# 1. Total Revenue by Sales Rep
rep_revenue = sales_df.groupby('Sales_Rep')['Total_Sale'].sum().sort_values(ascending=False).reset_index()

# 2. Average Sale by Sales Rep
rep_avg_sale = sales_df.groupby('Sales_Rep')['Total_Sale'].mean().sort_values(ascending=False).reset_index()

# 3. Regional patterns (Total revenue by Rep and Region)
rep_region = sales_df.groupby(['Region', 'Sales_Rep'])['Total_Sale'].sum().reset_index()

# Format revenue as currency
rep_revenue['Total_Sale'] = rep_revenue['Total_Sale'].map('${:,.2f}'.format)
rep_avg_sale['Total_Sale'] = rep_avg_sale['Total_Sale'].map('${:,.2f}'.format)

# Display tables
print("üèÜ Total Revenue by Sales Rep:")
print(rep_revenue)

print("\nüìà Average Sale Amount by Sales Rep:")
print(rep_avg_sale)

print("\nüåç Regional Revenue by Sales Rep:")
print(rep_region)

üèÜ Total Revenue by Sales Rep:
       Sales_Rep  Total_Sale
0    David Kumar  $32,506.50
1   Michael Wong  $21,085.50
2     Sarah Chen  $18,396.25
3  Emma Thompson  $11,904.30
4      Lisa Park  $10,049.25

üìà Average Sale Amount by Sales Rep:
       Sales_Rep Total_Sale
0    David Kumar  $8,126.62
1   Michael Wong  $5,271.38
2     Sarah Chen  $4,599.06
3  Emma Thompson  $2,976.07
4      Lisa Park  $2,512.31

üåç Regional Revenue by Sales Rep:
  Region      Sales_Rep  Total_Sale
0    NSW    David Kumar    32506.50
1    NSW     Sarah Chen    18396.25
2    QLD  Emma Thompson    11904.30
3    VIC   Michael Wong    21085.50
4     WA      Lisa Park    10049.25

<>:7: SyntaxWarning: invalid escape sequence '\$'
<>:8: SyntaxWarning: invalid escape sequence '\$'
<>:7: SyntaxWarning: invalid escape sequence '\$'
<>:8: SyntaxWarning: invalid escape sequence '\$'
/tmp/ipython-input-1023121546.py:7: SyntaxWarning: invalid escape sequence '\$'
  sales_df['Unit_Price'] = sales_df['Unit_Price'].replace('[\$,]', '', regex=True).astype(float)
/tmp/ipython-input-1023121546.py:8: SyntaxWarning: invalid escape sequence '\$'
  sales_df['Total_Sale'] = sales_df['Total_Sale'].replace('[\$,]', '', regex=True).astype(float)