<a href="https://colab.research.google.com/github/JASHANBHULLAR4759/COLLEGE-ASSIGNMENT-2/blob/main/TOP__PERFORMING__OBJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

# Load sales data
sales_df = pd.read_csv('sales_data.csv')

# Clean monetary columns
sales_df['Unit_Price'] = sales_df['Unit_Price'].replace('[\$,]', '', regex=True).astype(float)
sales_df['Total_Sale'] = sales_df['Total_Sale'].replace('[\$,]', '', regex=True).astype(float)

# 1. Top 5 products by total revenue
top_revenue = sales_df.groupby('Product')['Total_Sale'].sum().sort_values(ascending=False).head(5).reset_index()
top_revenue['Total_Sale'] = top_revenue['Total_Sale'].map('${:,.2f}'.format)

# 2. Top 5 products by quantity sold
top_quantity = sales_df.groupby('Product')['Quantity'].sum().sort_values(ascending=False).head(5).reset_index()

# 3. Top 5 products by highest average unit price
top_margin = sales_df.groupby('Product')['Unit_Price'].mean().sort_values(ascending=False).head(5).reset_index()
top_margin['Unit_Price'] = top_margin['Unit_Price'].map('${:,.2f}'.format)

# Display results
print("üí∞ Top 5 Products by Revenue:")
print(top_revenue)

print("\nüì¶ Top 5 Products by Quantity Sold:")
print(top_quantity)

print("\nüè∑Ô∏è Top 5 Products by Average Unit Price (High Margin):")
print(top_margin)

üí∞ Top 5 Products by Revenue:
                       Product  Total_Sale
0      Laptop - Business Grade  $22,788.00
1     Whiteboard - Interactive   $7,596.00
2            Monitor - 27 inch   $7,002.00
3      Router - Business Grade   $4,998.75
4  Business Analytics Software   $4,998.00

üì¶ Top 5 Products by Quantity Sold:
                   Product Quantity
0       UPS Battery Backup       $9
1  Printer - Multifunction       $8
2            Standing Desk       $8
3    Air Purifier - Office       $7
4  Projector - 4K Business       $6

üè∑Ô∏è Top 5 Products by Average Unit Price (High Margin):
                       Product Unit_Price
0  Business Analytics Software  $2,499.00
1      Laptop - Business Grade  $1,899.00
2     Whiteboard - Interactive  $1,899.00
3       Security Camera System  $1,299.00
4             Conference Table  $1,250.00

<>:7: SyntaxWarning: invalid escape sequence '\$'
<>:8: SyntaxWarning: invalid escape sequence '\$'
<>:7: SyntaxWarning: invalid escape sequence '\$'
<>:8: SyntaxWarning: invalid escape sequence '\$'
/tmp/ipython-input-827000164.py:7: SyntaxWarning: invalid escape sequence '\$'
  sales_df['Unit_Price'] = sales_df['Unit_Price'].replace('[\$,]', '', regex=True).astype(float)
/tmp/ipython-input-827000164.py:8: SyntaxWarning: invalid escape sequence '\$'
  sales_df['Total_Sale'] = sales_df['Total_Sale'].replace('[\$,]', '', regex=True).astype(float)