In [18]:
import pandas as pd

# Load the sales data
sales_df = pd.read_csv('sales_data.csv')

# Remove '$' and convert 'Unit_Price' and 'Total_Sale' to numeric
sales_df['Unit_Price'] = sales_df['Unit_Price'].replace('[\$,]', '', regex=True).astype(float)
sales_df['Total_Sale'] = sales_df['Total_Sale'].replace('[\$,]', '', regex=True).astype(float)

# Group by Region
region_summary = sales_df.groupby('Region').agg(
    Total_Sales=('Total_Sale', 'sum'),
    Average_Sale=('Total_Sale', 'mean'),
    Transactions=('Total_Sale', 'count')
).reset_index()

# Format for presentation
region_summary['Total_Sales'] = region_summary['Total_Sales'].map('${:,.2f}'.format)
region_summary['Average_Sale'] = region_summary['Average_Sale'].map('${:,.2f}'.format)

# Sort by Total Sales descending
region_summary = region_summary.sort_values(by='Total_Sales', ascending=False)

# Display results
print("ðŸ“Š Sales Performance by Region")
print(region_summary)

ðŸ“Š Sales Performance by Region
  Region Total_Sales Average_Sale  Transactions
0    NSW  $50,902.75    $6,362.84             8
2    VIC  $21,085.50    $5,271.38             4
1    QLD  $11,904.30    $2,976.07             4
3     WA  $10,049.25    $2,512.31             4

<>:7: SyntaxWarning: invalid escape sequence '\$'
<>:8: SyntaxWarning: invalid escape sequence '\$'
<>:7: SyntaxWarning: invalid escape sequence '\$'
<>:8: SyntaxWarning: invalid escape sequence '\$'
/tmp/ipython-input-1424025004.py:7: SyntaxWarning: invalid escape sequence '\$'
  sales_df['Unit_Price'] = sales_df['Unit_Price'].replace('[\$,]', '', regex=True).astype(float)
/tmp/ipython-input-1424025004.py:8: SyntaxWarning: invalid escape sequence '\$'
  sales_df['Total_Sale'] = sales_df['Total_Sale'].replace('[\$,]', '', regex=True).astype(float)